<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel="stylesheet" href="./themes/jquery-ui.min.css">
    <link rel="stylesheet" href="./stylesheets/my.css">

    <script src="./javascripts/ajax_file.js"></script>
    <script src="./javascripts/jquery-1.9.1.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <script>
        var insertTable = function (data, head) {
            var t;
            if (head !== undefined) {
                t = $('table thead');
                t.empty();
                var str = "<tr>";
                for (var i = 0; i < head.length; i++) {
                    str += "<td>" + head[i] + "</td>";
                }
                str += "</tr>";
                t.append(str);
            }
            var t = $('table tbody');
            t.empty();
            for (var i = 0; i < data.length; i++) {
                var value = data[i];
                t.append("<tr><td><span>" + value.fileName +
                        "</span></td><td><span class='waitMail'batchId='"+ value.batchId +"'>" + value.waitMail +
                        "</span></td><td><span>" + value.mailNum +
                        "</span></td><td><span>" + value.packageNum + "</span></td>" +
                        "<td><a class='tdDel' fileName='"+ value.fileName +"'>删除</a></td></tr>");
            }
            t.find("td span")
                .hover(
                    function () {
                        $(this).addClass("hover");
                    },
                    function () {
                        $(this).removeClass("hover");
                    }
                );
            t.find("td span[class='waitMail']")
                    .on('click',
                    function (event) {
                        event.stopPropagation();
                        window.open('./waitMailManage?batchId='+$(this).attr('batchId'));
                    }
            );
            t.find("td a[class='tdDel']")
                    .button()
                    .on('click',
                    function (event) {
                        event.stopPropagation();
                        var result = confirm('是否删除:' + $(this).attr('fileName'));
                        if(!result){
                            return false ;
                        }
                        delBatchFile($(this).attr('fileName'), function(msg){
                            if (msg.success == true){
                                window.location.reload();
                            }
                            else{
                                $("#pInfo").text(msg.data);
                            }
                        });
                    });
        };
        var getIndexInfo = function (start, length) {
            var tableHead = ["文件名"
                , "未处理邮件数量"
                , "邮件总数量"
                , "归属邮包数量"
                , "删除"];
            var tableData = []
                    , showData = {}
                    , dataTemp;
            getMailPackageInfo(start, length, function (msg) {
                if (msg.success == true) {
                    for (var i = 0; i < msg.data.length; i++) {
                        dataTemp = msg.data[i];
                        if (showData[dataTemp.batchId] == null) {
                            showData[dataTemp.batchId] = {
                                "fileName": "",
                                "packageNum": 0,
                                "waitMail": 0,
                                "mailNum": 0
                            };
                        }
                        showData[dataTemp.batchId].batchId = dataTemp.batchId;
                        showData[dataTemp.batchId].fileName = dataTemp.cBatchFileName;
                        showData[dataTemp.batchId].mailNum += dataTemp.mailNum;
                        if (dataTemp.packageId == 0) {
                            showData[dataTemp.batchId].waitMail = dataTemp.mailNum;
                        }
                        else {
                            showData[dataTemp.batchId].packageNum++;
                        }
                    }
                    for (var i in showData) { //遍历object
                        tableData.push(showData[i]);
                    }
                    insertTable(tableData, tableHead);
                }
                else if(msg.success == false){
                    $("#pInfo").text(msg.data);
                }
            })
        };
        var getTablePageInfo = function(){
            getBatchFileCount(function(msg){
                if (msg.success == true) {
                    var count = msg.data ;
                    $('#totalCount').text(count + "条记录");
                    $('#totalPage').text(parseInt(parseInt(count)/50 + 1).toString());
                }
                else if(msg.success == false){
                    $("#pInfo").text(msg.data);
                }
            });
        };
        $(function () {
            $.ajaxSetup({cache: false});
            $("#navigation a").button();
            $('#nextPage').on('click',function(e){
                e.stopPropagation();
                var now = parseInt($('#nowPage').text());
                var totalPage = parseInt($('#totalPage').text());
                if (now < totalPage){
                    getIndexInfo(50*now, 50);
                    $('#nowPage').text((now+1).toString());
                }
            });
            $('#prePage').on('click',function(e){
                e.stopPropagation();
                var now = parseInt($('#nowPage').text());
                if (now > 1){
                    getIndexInfo(50*(now-2), 50);
                    $('#nowPage').text((now-1).toString());
                }
            })
            getIndexInfo(0, 50);
            getTablePageInfo();
        });
    </script>
    <style>

        tbody td {
            border-bottom: 1px solid #ddd;
        }

        #page {
            padding-top: 20px;
            text-align: center;
            width: 500px;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div id="navigation"
     style="border-bottom-color: greenyellow;border-bottom-width: 1px;border-bottom-style: solid;padding-bottom: 5px;">
    <a style="margin-top: 10px" href="./mailManage">扫描邮件</a>
    <a style="margin-top: 10px" href="./packageManage">数据管理</a>
    <a style="margin-top: 10px" href="./stateCompare">比对州名</a>
    <a style="margin-top: 10px" href="./fileUpload">数据导入</a>
</div>
<p id="pInfo"></p>
<table>
    <thead>
    <tr>
        <td>sdf</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="page">
    <button id="prePage">上一页</button>
    <span id="nowPage">1</span>/<span id="totalPage"></span>页<span style="padding-left: 5px" id="totalCount"></span>
    <button id="nextPage">下一页</button>
</div>

</body>
</html>
