<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel="stylesheet" href="./themes/jquery-ui.min.css">
    <script src="./javascripts/check_file.js"></script>
    <script src="./javascripts/jquery-1.9.1.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("button").button();
        });
    </script>
    <style>
        table {
            text-align: center;;
            width: 80%;
            margin: 0 auto;
        }
        div {
            padding-top: 20px;;
            text-align: center;;
            width: 500px;
            margin: 0 auto;
        }

    </style>
</head>
<body style="padding: 30px">
    <table>
        <thead>
            <tr>
                <td>文件名</td>
                <td>未处理邮件数量</td>
                <td>邮件总数量</td>
                <td>归属邮包数量</td>
                <td>查看</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1号文件</td>
                <td>20</td>
                <td>120</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button>上一页</button>
        <button>下一页</button>
    </div>
</body>
</html>
