<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel="stylesheet" href="./themes/jquery-ui.min.css">
    <script src="./javascripts/check_file.js"></script>
    <script src="./javascripts/jquery-1.9.1.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <script>
        var getBatchFile = function(){
            $.ajax({

            })
        }
        $(function () {
            $("#packageManage").button();
        });
    </script>
    <style>
        .tEven {
            background-color: #ffead7;
        }
    </style>
</head>
<body style="padding: 30px">

<div style="border-bottom-color: greenyellow;border-bottom-width: 1px;border-bottom-style: solid;padding-bottom: 5px">
    <label for="packageId">数据导入</label>
    <form name="upfile_form" action="./upfile" method="POST" enctype="multipart/form-data" target="check_file_frame">
        <input type="file" name="image" id="upload_file" accept="text/csv" />
        <input id="submitfile" type="submit" value="上传文件"/>
        <span style="color:red;margin-left: 20px"> 文件名不能带有'\'</span>
        <iframe name="check_file_frame" style="display:none;"></iframe>
        <p id="fileUpInfo"> </p>
        <p id="fileUpOtherInfo"> </p>
    </form>
    <a style="margin-top: 10px" name="packageManage" id="packageManage" href="http://www.baidu.com" target="_blank">数据管理</a>
</div>

<label for="packageId">选择添加邮件的包</label>

<select style="width: 150px;" name="packageId" id="packageId">
    <option value=""></option>
    <option value="d">dddddddddddddd</option>
    <option value="s">dddddfffff</option>
</select>
<button style="margin-left: 20px" name="addNewPackage" id="addNewPackage">创建新包</button>
<br/>
<input style="width: 300px;height: 28px;margin-top: 20px" name="mailId" id="mailId" type="text"/>

<p>&nbsp;</p>
<table id="upBackInfo">
    <thead>
    <tr><th>错误信息</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>

</body>
</html>
