<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel="stylesheet" href="./themes/jquery-ui.min.css">
    <link rel="stylesheet" href="./stylesheets/my.css">

    <script src="./javascripts/ajax_file.js"></script>
    <script src="./javascripts/jquery-1.9.1.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $.ajaxSetup({cache: false});
            $("#navigation a").button();
            $("button").button() ;
            $("#toCompare").on("click",function(){
                $.ajax({
                    method: "POST",
                    url: "../stateCompare",
                    data: {
                        textIn: $("#textIn").val()
                    },
                    success: function (msg) {
                        if (msg.success == true) {
                            var strOut = ""
                            for (var i = 0 ; i < msg.data.length ; i ++ ){
                                strOut += msg.data[i].compareStr + "…" + msg.data[i].compareValue + "\n" ;
                            }
                            $("#textOut").val(strOut);
                            $("#pInfo").text("比对完成!!!");
                        }
                        else {
                            $("#pInfo").text("比对失败!!!" + msg.data);
                        }
                    },
                    error: function (xmlHttpRequest, error) {
                        alert(error.toString());
                        $('#pInfo').text("比对失败！！！" + error.toString());
                    }
                })
            });
        });
    </script>
    <style>
        textarea {
            width: 80%;
            height: 500px;
            margin: 5%;
            padding: 5%;
        }
    </style>
</head>
<body style="width: 94%">
<div id="navigation" style="border-bottom-color: greenyellow;border-bottom-width: 1px;border-bottom-style: solid;padding-bottom: 5px;">
    <a style="margin-top: 10px"  href="./mailManage" >扫描邮件</a>
    <a style="margin-top: 10px"  href="./packageManage" >数据管理</a>
    <a style="margin-top: 10px"  href="./stateCompare" >比对州名</a>
    <a style="margin-top: 10px"  href="./fileUpload">数据导入</a>
</div>
<div style="width: 45%;float: left"><textarea id="textIn"></textarea></div>
<div style="width: 10%;float: left;text-align: center">
    <button id="toCompare" style="margin-top: 250px">比对>></button>
    <p id="pInfo"></p></div>
<div style="width: 45%;float: left"><textarea id="textOut"></textarea></div>
</body>
</html>
